.table-header {
  place-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

[class^="phase-activity-container-"] {
  color: red;
}

[class^="activity-container-"] {
  color: green;
}

[class^="sub-activity-container-"] {
  color: blue;
}

[class^="sub-activity-container-"] div input[type="number"] {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-appearance: textfield;
}

[class^="activity-container-"] div div input[type="number"] {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-appearance: textfield;
}

[class^="sub-activity-container-"] div input[type="number"]::-webkit-outer-spin-button,
[class^="sub-activity-container-"] div input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[class^="activity-container-"] div div input[type="number"]::-webkit-outer-spin-button,
[class^="activity-container-"] div div input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table-header div {
  width: 100%;
  border: 1px white solid;
  height: 100%;
  display: grid;
  place-items: center;
}

.table-header>div:nth-child(1),
.table-header>div:nth-child(2),
.table-header>div:nth-child(4) {
  grid-row: span 2;

}

.table-header>div:nth-child(3) {
  grid-column: span 3;

}

.table-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  width: 100%;
}

.content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.table-content div {
  width: 100%;
  border: 1px white solid;
  height: 100%;
  display: grid;
  place-items: center;
}

.table-body {
  width: 100%;
}

.content-from-table input{
  width: 100%;
}