{{ define "title" }}
<title>{{ .Title }}</title>
{{end}}
{{ define "content" }}
<div class="container mt-4">
  <h1 class="roboto-medium">Completed Projects</h1>
  <hr class="mb-4 mt-1 line">
  <div class="grid-layout gap-6">
    {{ range $index, $project := .Projects }}
    <div class="container card card-container">
      <img src="/static/media/440921056_3780621792183800_4943365504590121414_n-removebg-preview.png" class="card-img-top" alt="...">
      <div class="card-body justify-content-between d-flex flex-column">
        <h5 class="card-title">Project Name: {{ $project.Name }}</h5>
        <p class="card-text">Description: {{ $project.Description }}</p>
        <p class="card-text">Cost: {{ $project.Cost }}</p>
        <p class="card-text schedule-completed">Schedule Completed: {{ $project.ScheduleCompleted }}</p>
        <p class="card-text start-{{ $index }}">Date Start: {{ $project.DateStart }}</p>
        <p class="card-text end-{{ $index }}">Date End: {{ $project.DateEnd }}</p>
        <p class="card-text completed-{{ $index }}">Completed At: {{ $project.CompletedAt }}</p>
        <a href="/user/view-summary/?id={{ $project.ID }}" class="btn btn-primary mt-2">View Project</a>
      </div>
    </div>
    {{ end }}
  </div>

</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var projects = document.querySelectorAll(".card-container");
    projects.forEach(function(project, index) {
      var dateStart = project.querySelector(`.start-${index}`).textContent;
      var dateStartObject = new Date(dateStart);
      var dateEnd = project.querySelector(`.end-${index}`).textContent;
      var dateEndObject = new Date(dateEnd);
      var dateComplete = project.querySelector(`.completed-${index}`).textContent;
      var dateCompleteObject = new Date(dateComplete);

      // Format the date
      var options = { year: 'numeric', month: 'long', day: 'numeric' };
      var formattedStartDate = dateStartObject.toLocaleDateString('en-US', options);
      var formattedEndDate = dateEndObject.toLocaleDateString('en-US', options);
      var formattedCompleteDate = dateCompleteObject.toLocaleDateString('en-US', options);
      
      // Display the formatted date
      project.querySelector(`.start-${index}`).innerText = "Date Start: " + formattedStartDate;
      project.querySelector(`.end-${index}`).innerText = "Date End: " + formattedEndDate;
      project.querySelector(`.completed-${index}`).innerText = "Completed At: " + formattedCompleteDate;
    });
  });
</script>
{{end}}
