<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/media/440921056_3780621792183800_4943365504590121414_n-removebg-preview.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Login Page | PertCPM</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 d-none d-md-flex bg-image"></div>
      <!-- The content half -->
      <div class="col-md-6 bg-light">
        <div class="login-div d-flex align-items-center py-5 ">
          <!-- Demo content-->
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-7 mx-auto">
                <h3 class="display-4 mb-3 ">PertCPM Login</h3>
                <form class="login" action="" method="post">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Email" name="username">
                    <label for="username">Email</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    <label for="password">Password</label>
                  </div>
                  <p class="text-danger">{{ .Invalid }}</p>
                  <input type="submit" class="w-100 btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                </form>
              </div>
            </div>
          </div><!-- End -->
        </div>
      </div><!-- End -->
    </div>
  </div>
</body>
<script src="static/js/bootstrap.bundle.min.js"></script>
</html>