{{ define "title" }}
<title>{{ .Title }}</title>
{{end}}
{{ define "content" }}
<div class="container">
  <h1 class="text-center">Ongoing Projects</h1>
  <div class="grid-layout gap-6">
    {{ range $index, $project := .Projects }}
    <div class="container card">
      <img src="/static/media/440921056_3780621792183800_4943365504590121414_n-removebg-preview.png" class="card-img-top" alt="...">
      <div class="card-body justify-content-between d-flex flex-column">
        <h5 class="card-title">Project Name: {{ $project.Name }}</h5>
        <p class="card-text">Description: {{ $project.Description }}</p>
        <p class="card-text">Cost: {{ $project.Cost }}</p>
        <p class="card-text schedule-completed">Schedule Completed: {{ $project.ScheduleCompleted }}</p>
        <p class="card-text start{{ $index }}">Date Start: {{ $project.DateStart }}</p>
        <p class="card-text end{{ $index }}">Date End: {{ $project.DateEnd }}</p>
        <div class="row">
          <a href="/user/schedule-completion/?id={{ $project.ID }}" class="btn btn-primary mt-2">Complete Schedule</a>
          <input onclick="deleteProject({{ $project.ID }})" class="btn btn-danger mt-2" type="button" value="Delete Project">
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var projects = document.querySelectorAll(".container");
    projects.forEach(function(project, index) {
      var dateStart = project.querySelector(`.start${index}`).textContent;
      var dateStartObject = new Date(dateStart);
      var dateEnd = project.querySelector(`.end${index}`).textContent;
      var dateEndObject = new Date(dateEnd);

      // Format the date
      var options = { year: 'numeric', month: 'long', day: 'numeric' };
      var formattedStartDate = dateStartObject.toLocaleDateString('en-US', options);
      var formattedEndDate = dateEndObject.toLocaleDateString('en-US', options);

      // Display the formatted date
      project.querySelector(`.start${index}`).innerText = "Date Start: " + formattedStartDate;
      project.querySelector(`.end${index}`).innerText = "Date End: " + formattedEndDate;
    });
  });
</script>
<script>
  function deleteProject(id) {
    console.log(id)
    fetch(`/api/delete-project?id=${id}`)
    .then(resp => resp.json())
    .then(resp => {
      if (resp["status"] != "ok") {
        Swal.fire({
        title: "Error",
        text: resp["error_msg"],
        icon: "error"
      });
      } else {
        Swal.fire({
        title: "Deleted",
        text: resp["response"],
        icon: "success"
      });
      window.setTimeout(function() {
        window.location.reload();
      }, 3000)
      }
    })
    // $.ajax({
    //   method: "POST",
    //   contentType: "application/json",
    //   data: {
    //     id: id,
    //   },
    //   url:"/api/delete-project",
    //   success: function(response) {
    //     console.log(response)
    //   },
    //   error: function(response) {
    //     console.log(response)
    //   }, 
    // })
  }
</script>

{{end}}