{{ define "title" }}
<title>{{ .Title }}</title>
{{end}}
{{ define "content" }}
<link rel="stylesheet" href="/static/css/view-summary.css">
<div class="container mt-4">
  <h1 class="roboto-medium">Ongoing Projects</h1>
  <hr class="mb-4 mt-1 line">
  <div class="grid-layout gap-6">
    {{ range $index, $project := .Projects }}
    <div class="container card card-container">
      <img src="/static/media/440921056_3780621792183800_4943365504590121414_n-removebg-preview.png" class="card-img-top" alt="...">
      <div class="card-body justify-content-between d-flex flex-column">
        <h5 class="card-title">Project Name: {{ $project.Name }}</h5>
        <p class="card-text"><strong>Description: </strong>{{ $project.Description }}</p>
        <p class="card-text"><strong>Cost: </strong>₱{{ $project.Cost }}</p>
        <p class="card-text start-{{ $index }}"><strong>Date Start: </strong>{{ $project.DateStart }}</p>
        <p class="card-text end-{{ $index }}"><strong>Date End: </strong>{{ $project.DateEnd }}</p>
        <div class="row">
          {{ if $project.ScheduleCompleted }}
          <a href="/user/view-predecessors/?id={{ $project.ID }}" class="btn btn-success mt-2">View Predecessors</a>
          {{ else }}
          <a href="/user/schedule-completion/?id={{ $project.ID }}" class="btn btn-primary mt-2">Complete Schedule</a>
          {{ end }}
          <input onclick="deleteProject('{{ $project.ID }}')" class="btn btn-danger mt-2" type="button" value="Delete Project">
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var projects = document.querySelectorAll(".card-container");
    projects.forEach(function(project, index) {
      var dateStart = project.querySelector(`.start-${index}`).textContent;
      var dateStartObject = new Date(dateStart.replace("Date Start: ", ""));
      var dateEnd = project.querySelector(`.end-${index}`).textContent;
      var dateEndObject = new Date(dateEnd.replace("Date End: ", ""));

      // Format the date
      var options = { year: 'numeric', month: 'long', day: 'numeric' };
      var formattedStartDate = dateStartObject.toLocaleDateString('en-US', options);
      var formattedEndDate = dateEndObject.toLocaleDateString('en-US', options);
      if (formattedEndDate == "Invalid Date") {
        formattedEndDate = "--"
      }
      // Display the formatted date
      project.querySelector(`.start-${index}`).innerHTML = "<strong>Date Start: </strong>" + formattedStartDate;
      project.querySelector(`.end-${index}`).innerHTML = "<strong>Date End: </strong>" + formattedEndDate;
    });
  });
</script>

<script>
function deleteProject(id) {
  Swal.fire({
    title: "Are you sure you want to delete this project?",
    icon: "question",
    showCancelButton: true,
    confirmButtonText: "Delete",
  }).then((result) => {
    if (result.isConfirmed) {
      fetch(`/api/delete-project?id=${id}`)
      .then(resp => resp.json())
      .then(resp => {
        if (resp.status != "ok") {
          Swal.fire("Error", resp.error_msg, "error");
        } else {
          Swal.fire("Deleted", resp.response, "success");
          window.setTimeout(function() {
            window.location.reload();
          }, 3000);
        }
      });
    }
  });
}
</script>

{{end}}