{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}
<h1>Planning Page</h1>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="projName">Enter Project Name: </label>
  <input id="projName" type="text">
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="phaseName">Enter Activity Phase Name: </label>
  <input id="phaseName" type="text">
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="actName">Enter Activity Name: </label>
  <input id="actName" type="text">
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="subactName">Enter Sub-Activity Name: </label>
  <input id="subactName" type="text">
</div>
<button class="add-phase btn btn-primary">Button</button>

<div class="container mt-4">
  <div class="table-header text-center  text-break">
    <div>Item No.</div>
    <div>Activity</div>
    <div>Time Estimate</div>
    <div>Expected Time</div>
    <div>Optimistic Time</div>
    <div>Most Likely Time</div>
    <div>Pessimistic Time</div>
  </div>
  <div class="table-body"></div>
  <div class="pricing d-flex position-relative mt-4 gap-1 align-items-start">
    <div class="content-from-table d-flex gap-2 flex-column"></div>
  </div>
  <button class="save-plan btn btn-primary" type="button">Save Plan</button>
<script src="/static/js/planning.js"></script>
  {{ end }}