{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}
<style>
  .table-header {
    place-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  [class^="phase-activity-container-"] {
    color: red;
  }

  [class^="activity-container-"] {
    color: green;
  }

  [class^="sub-activity-container-"] {
    color: blue;
  }

  [class^="sub-activity-container-"] div input[type="number"] {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-appearance: textfield;
  }
  [class^="activity-container-"] div div input[type="number"] {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-appearance: textfield;
  }

  [class^="sub-activity-container-"] div input[type="number"]::-webkit-outer-spin-button,
  [class^="sub-activity-container-"] div input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  [class^="activity-container-"] div div input[type="number"]::-webkit-outer-spin-button,
  [class^="activity-container-"] div div input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .table-header div {
    width: 100%;
    border: 1px white solid;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .table-header>div:nth-child(1),
  .table-header>div:nth-child(2),
  .table-header>div:nth-child(4) {
    grid-row: span 2;

  }

  .table-header>div:nth-child(3) {
    grid-column: span 3;

  }

  .table-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    width: 100%;
  }

  .content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .table-content div {
    width: 100%;
    border: 1px white solid;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .table-body {
    width: 100%;
  }
</style>
<h1>Planning Page</h1>

<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="projName">Enter Project Name: </label>
  <input id="projName" type="text">
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="phaseName">Enter Activity Phase Name: </label>
  <input id="phaseName" type="text">
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="actName">Enter Activity Name: </label>
  <input id="actName" type="text">
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="subactName">Enter Sub-Activity Name: </label>
  <input id="subactName" type="text">
</div>
<button class="add-phase btn btn-primary">Button</button>

<div class="container mt-4">
  <div class="table-header text-center  text-break">
    <div>Item No.</div>
    <div>Activity</div>
    <div>Time Estimate</div>
    <div>Expected Time</div>
    <div>Optimistic Time</div>
    <div>Most Likely Time</div>
    <div>Pessimistic Time</div>
  </div>
  <div class="table-body">


  </div>
</div>
</div>
</div>
<!-- <table class="table-bordered container main-table">
  <thead class="text-center">
    <tr>
      <th rowspan="2" scope="col">Item No.</th>
      <th rowspan="2" scope="col">Activity</th>
      <th colspan="3">Time Estimates</th>
      <th rowspan="2" scope="col">Expected Time</th>
    </tr>
    <tr>
      <th scope="col">Optimistic Time</th>
      <th scope="col">Most Likely Time</th>
      <th scope="col">Pessimistic Time</th>
    </tr>
  </thead>
</table> -->

<script>
  let i = 1;
  let expectedTime = (a, m, b) => Math.floor((a + (4 * m) + b) / 6);
  let projectObj = {};
  let alphabet = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
  $(".add-phase").click(function () {
    let activityNo = convertToRoman($(".table-body > div").length + 1);
    let addPhase = ($("#phaseName").val()).trim()
    let addProj = ($("#projName").val()).trim()
    let addAct = ($("#actName").val()).trim()
    let addSubAct = ($("#subactName").val()).trim()


    // ! Object Creator (Done)
    if (addProj == null || addProj == "" || addProj == undefined) {
      alert("Please put a project name.");
      return
    }
    projectObj[addProj] = { ...projectObj[addProj] };
    if (addPhase == null || addPhase == "" || addPhase == undefined) {
      alert("Please put a phase.");
      return
    }
    projectObj[addProj][addPhase] = { ...projectObj[addProj][addPhase] };
    if (addAct == null || addAct == "" || addAct == undefined) {
      if (addSubAct != null && addSubAct != "" && addSubAct != undefined) {
        projectObj[addProj][addPhase][addSubAct] = addSubAct
      }
    }
    else {
      projectObj[addProj][addPhase][addAct] = { ...projectObj[addProj][addPhase][addAct] };
      if (addSubAct != null && addSubAct != "" && addSubAct != undefined) {
        projectObj[addProj][addPhase][addAct][addSubAct] = addSubAct;
      }
    }
    // Done
    console.log(projectObj)
    projectObj = {
      "Project 1": {
        "Phase 1": {
          "Act 1": {
            "Sub Act 1": "Sub Act 1"
          },
          "Sub Act 1":"Sub Act 1",
          "Sub Act 2":"Sub Act 2",
          "Sub Act 3":"Sub Act 3",
          "Act 2": {
            "Sub Act 1": "Sub Act 1"
          },
          "Sub Act 1":"Sub Act 1",
          "Sub Act 2":"Sub Act 2",
        },
        "Phase 2": {
          "Act 1": {
            "Sub Act 1": "Sub Act 1",
            "Sub Act 2": "Sub Act 2",
            "Sub Act 3": "Sub Act 3"
          },
          "Sub Act 1":"Sub Act 1",
          "Act 2": {
            "Sub Act 1": "Sub Act 1",
            "Sub Act 2": "Sub Act 2"
          }
        }
      }
    }
    // Table Creator (Under Construction) (DONE?)
    $(".table-body").empty();
    projectLen = Object.keys(projectObj[addProj]).length
    for (let i = 0; i < projectLen; i++) {
      phaseKey = Object.keys(projectObj[addProj])[i]
      var phaseFormat =
        `<div class="phase-activity-container-${i + 1}">
          <div class="table-content text-center text-break">
            <div>${convertToRoman(i + 1)}.</div>
            <div>${phaseKey}</div>
            <div>--</div>
            <div>--</div>
            <div>--</div>
            <div>--</div>
          </div>
        </div>`
      $(".table-body").append(phaseFormat)
      for (let j = 0; j < Object.keys(projectObj[addProj][phaseKey]).length; j++) {
        actObj = Object.values(projectObj[addProj])[i]

        actKey = Object.keys(actObj)[j]

        var actFormat =
          `<div class="activity-container-${j + 1}">
          <div class="table-content text-center text-break">
            <div>${convertToRoman(i + 1)}. ${alphabet[j]}.</div>
            <div>${actKey}</div>
            <div>--</div>
            <div>--</div>
            <div>--</div>
            <div>--</div>
          </div>
        </div>`

        if (typeof Object.values(actObj)[j] === "string") {
          console.log('this is a string')
          var actFormat =
            `<div class="activity-container-${j + 1}">
          <div class="table-content text-center text-break" style="color:purple;">
            <div>${convertToRoman(i + 1)}. ${alphabet[j]}.</div>
            <div>${actKey}</div>
            <div><input type="number" value="0" min="0" onchange="stringAct(this)"></div>
            <div><input type="number" value="0" min="0" onchange="stringAct(this)"></div>
            <div><input type="number" value="0" min="0" onchange="stringAct(this)"></div>
            <div>--</div>
          </div>
        </div>`
          $(`.phase-activity-container-${i + 1}`).append(actFormat)
          continue
        }
        $(`.phase-activity-container-${i + 1}`).append(actFormat)
        for (let k = 0; k < Object.keys(projectObj[addProj][phaseKey][actKey]).length; k++) {
          //actKey = Object.keys(projectObj[addProj][phaseKey])[j]
          subActKey = Object.values(projectObj[addProj][phaseKey][actKey])[k]
          var subActFormat =
            `<div class="sub-activity-container-${k + 1}">
            <div class="table-content text-center text-break">
            <div>${convertToRoman(i + 1)}. ${alphabet[j]}. ${convertToRoman(k + 1).toLowerCase()}.</div>
            <div>${subActKey}</div>
            <div><input type="number" value="0" min="0" onchange="unexpectedTimeRow(this)"></div>
            <div><input type="number" value="0" min="0" onchange="unexpectedTimeRow(this)"></div>
            <div><input type="number" value="0" min="0" onchange="unexpectedTimeRow(this)"></div>
            <div>--</div>
          </div>
          </div>`
          $(`.phase-activity-container-${i + 1} .activity-container-${j + 1}`).append(subActFormat);

        }
      }
    }
    $("#projName").prop("readonly", true)
    // DONE?
  })
  // 

  //function to change values on input change for sub activity which are under phase and are not under activity 
  //or sub activity which is in a level of activity
  function stringAct(element) {
    var row = element.parentNode.parentNode
    var ot = row.children[2].children[0].value
    var mt = row.children[3].children[0].value
    var pt = row.children[4].children[0].value
    row.children[5].textContent = expectedTime(Number(ot), Number(mt), Number(pt))
    
    var phase = row.parentNode.parentNode
    var otPhase = 0;
    var mtPhase = 0;
    var ptPhase = 0;
    for (let i = 1; i < phase.children.length; i++) {
      var forOtPhase = phase.children[i].children[0].children[2]
      var forMtPhase = phase.children[i].children[0].children[3]
      var forPtPhase = phase.children[i].children[0].children[4]

      forOtPhase = (forOtPhase.textContent.length != 0) ? forOtPhase.textContent : forOtPhase.children[0].value;
      forMtPhase = (forMtPhase.textContent.length != 0) ? forMtPhase.textContent : forMtPhase.children[0].value;
      forPtPhase = (forPtPhase.textContent.length != 0) ? forPtPhase.textContent : forPtPhase.children[0].value;

      otPhase += Number(forOtPhase)
      mtPhase += Number(forMtPhase)
      ptPhase += Number(forPtPhase)
    }
    phase.children[0].children[2].textContent = !isNaN(otPhase) ?  otPhase : "--";
    phase.children[0].children[3].textContent = !isNaN(mtPhase) ?  mtPhase : "--";
    phase.children[0].children[4].textContent = !isNaN(ptPhase) ?  ptPhase : "--";


    console.log(phase)
    phase.children[0].children[5].textContent = !isNaN(expectedTime(otPhase, mtPhase, ptPhase)) ? expectedTime(otPhase, mtPhase, ptPhase) : "--";
  }

  //function to change values on input change for sub activity
  function unexpectedTimeRow(element) {
    // Child Sub Act Container
    var subActChild = element.parentNode.parentNode;
    var ot = subActChild.children[2].children[0].value;
    var mt = subActChild.children[3].children[0].value;
    var pt = subActChild.children[4].children[0].value;
    subActChild.children[5].textContent = expectedTime(Number(ot), Number(mt), Number(pt));

    //Child of Act Container
    var actChild = subActChild.parentNode.parentNode;
    var otAct = 0;
    var mtAct = 0;
    var ptAct = 0;
    var etAct = 0;
    for (let i = 1; i < actChild.children.length; i++) {
      otAct += Number(actChild.children[i].children[0].children[2].children[0].value);
      mtAct += Number(actChild.children[i].children[0].children[3].children[0].value);
      ptAct += Number(actChild.children[i].children[0].children[4].children[0].value);
      etAct += Number(actChild.children[i].children[0].children[5].textContent);
    }

    actChild.children[0].children[2].textContent = otAct;
    actChild.children[0].children[3].textContent = mtAct;
    actChild.children[0].children[4].textContent = ptAct;
    actChild.children[0].children[5].textContent = !isNaN(etAct) ? etAct : "--";

    //Phase Container
    var phase = actChild.parentNode
    var otPhase = 0;
    var mtPhase = 0;
    var ptPhase = 0;
    for (let i = 1; i < phase.children.length; i++) {
      var forOtPhase = phase.children[i].children[0].children[2]
      var forMtPhase = phase.children[i].children[0].children[3]
      var forPtPhase = phase.children[i].children[0].children[4]

      forOtPhase = (forOtPhase.textContent.length != 0) ? forOtPhase.textContent : forOtPhase.children[0].value;
      forMtPhase = (forMtPhase.textContent.length != 0) ? forMtPhase.textContent : forMtPhase.children[0].value;
      forPtPhase = (forPtPhase.textContent.length != 0) ? forPtPhase.textContent : forPtPhase.children[0].value;
    
      otPhase += Number(forOtPhase)
      mtPhase += Number(forMtPhase)
      ptPhase += Number(forPtPhase)
    }
    phase.children[0].children[2].textContent = !isNaN(otPhase) ? otPhase : "--";
    phase.children[0].children[3].textContent = !isNaN(mtPhase) ? mtPhase : "--";
    phase.children[0].children[4].textContent = !isNaN(ptPhase) ? ptPhase : "--";

    phase.children[0].children[5].textContent = !isNaN(expectedTime(otPhase, mtPhase, ptPhase)) ? expectedTime(otPhase, mtPhase, ptPhase) : "--";
  }



  function convertToRoman(num) {
    //values of the numbers
    let numerals = {
      M: 1000,
      CM: 900,
      D: 500,
      CD: 400,
      C: 100,
      XC: 90,
      L: 50,
      XL: 40,
      X: 10,
      IX: 9,
      V: 5,
      IV: 4,
      I: 1,
    };
    //passing the new values of the new numbers to convert into numerals
    let newNumeral = "";
    let numCopy = num;   //copy the num so it doesn't mutate and can used inside the for loop

    //checking the values of numerals objects
    for (let i in numerals) {
      //using the j variable of num, if the num is still greater than the numerals index 
      //it will increment the key to the variable newNumerals and stop the loop,
      // it will subtract the num to the values of numerals .
      for (let j = 0; j <= num; j++) {
        if (numCopy >= numerals[i]) {
          newNumeral += i;
          numCopy -= numerals[i];
        }
      }
    }
    //return to newNumerals to see the new value.
    return newNumeral;
  }
</script>
{{ end }}