{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}
<style>
  .table-header {
    place-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .table-header div {
    width: 100%;
    border: 1px white solid;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .table-header > div:nth-child(1), .table-header > div:nth-child(2), .table-header > div:nth-child(4) {
    grid-row: span 2;

  }
  .table-header > div:nth-child(3) {
    grid-column: span 3;

  }
  .table-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    width: 100%;
  }
  .content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .table-content div {
    width: 100%;
    border: 1px white solid;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .table-body {
    width: 100%;
  }
</style>
<h1>Planning Page</h1>

<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="projName">Enter Project Name: </label>
  <input id="projName" type="text">
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="phaseName">Enter Activity Phase Name: </label>
  <input id="phaseName" type="text">
  <button class="add-phase btn btn-primary">Button</button>
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="actName">Enter Activity Name: </label>
  <input id="actName" type="text">
  <select name="" id="phaseOptions">
    <option value="" disabled selected>Select your option</option>
  </select>
  <button class="btn btn-primary">Button</button>
</div>
<div class="d-flex gap-1 mt-2 align-items-center">
  <label for="subactName">Enter Sub-Activity Name: </label>
  <input id="subactName" type="text">
  <select name="" id="activityOptions">
    <option value="" disabled selected>Select your option</option>
  </select>
  <button class="btn btn-primary">Button</button>
</div>

<div class="container mt-4">
  <div class="table-header text-center  text-break">
    <div>Item No.</div>
    <div>Activity</div>
    <div>Time Estimate</div>
    <div>Expected Time</div>
    <div>Optimistic Time</div>
    <div>Most Likely Time</div>
    <div>Pessimistic Time</div>
  </div>
  <div class="table-body">
    
    
  </div>
</div>
</div>
</div>
<!-- <table class="table-bordered container main-table">
  <thead class="text-center">
    <tr>
      <th rowspan="2" scope="col">Item No.</th>
      <th rowspan="2" scope="col">Activity</th>
      <th colspan="3">Time Estimates</th>
      <th rowspan="2" scope="col">Expected Time</th>
    </tr>
    <tr>
      <th scope="col">Optimistic Time</th>
      <th scope="col">Most Likely Time</th>
      <th scope="col">Pessimistic Time</th>
    </tr>
  </thead>
</table> -->

<script>
  let i = 1;
  let expectedTime = (a, m, b) => Math.floor((a + (4 * m) + b) / 6);
  let projectObj = {};
  $(".add-phase").click(function () {
    let activityNo = convertToRoman($(".table-body > div").length + 1);
    let addPhase = ($("#phaseName").val()).trim()
    let addProj = ($("#projName").val()).trim()
    let addAct = ($("#actName").val()).trim()
    let addSubAct = ($("#subactName").val()).trim()
    // if (addProj in projectObj) {
    //   alert("Project Already Exists.")
    //   return
    // }


    projectObj[addProj] = {...projectObj[addProj]}
    projectObj[addProj][addPhase] = {...projectObj[addProj][addPhase]}
    if (addAct == null || addAct == "" || addAct == undefined) {
      projectObj[addProj][addPhase][addSubAct] = addSubAct
      return
    }
    projectObj[addProj][addPhase][addAct] = {...projectObj[addProj][addPhase][addAct]}
    projectObj[addProj][addPhase][addAct][addSubAct] = addSubAct
    console.log(projectObj)
    $("#phaseOptions").append($(`<option value=${addPhase}>${addPhase}</option>`))
    // console.log(namePhases)
    let format = 
    `<div class="phase-activity-container">
      <div class="table-content text-center text-break">
        <div>${activityNo}</div>
        <div>${addPhase}</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
        <div>--</div>
      </div>
    </div>`
    $(".table-body").append(format)
  })

  function convertToRoman(num) {
    //values of the numbers
    let numerals = {
      M: 1000,
      CM: 900,
      D: 500,
      CD: 400,
      C: 100,
      XC: 90,
      L: 50,
      XL: 40,
      X: 10,
      IX: 9,
      V: 5,
      IV: 4,
      I: 1,
    };
    //passing the new values of the new numbers to convert into numerals
    let newNumeral = "";
    let numCopy = num;   //copy the num so it doesn't mutate and can used inside the for loop

    //checking the values of numerals objects
    for (let i in numerals) {
      //using the j variable of num, if the num is still greater than the numerals index 
      //it will increment the key to the variable newNumerals and stop the loop,
      // it will subtract the num to the values of numerals .
      for (let j = 0; j <= num; j++) {
        if (numCopy >= numerals[i]) {
          newNumeral += i;
          numCopy -= numerals[i];
        }
      }
    }
    //return to newNumerals to see the new value.
    return newNumeral;
  }
</script>
{{ end }}