{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}
<link rel="stylesheet" href="/static/css/schedule-completion.css">
<div class="container">
  <h1>Schedule Completion</h1>
  <h2>Project Title: <span class="project-title">{{ .ProjectName }}</span></h2>
</div>
<div class="container position-relative">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark text-center">
      <tr>
        <th class="text-light" scope="col">Item No.</th>
        <th class="text-light" scope="col">Activity</th>
        <th class="text-light" scope="col">Immediate Predecessors</th>
        <th class="text-light" scope="col">Expected Time</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {{range .Project.Phase}}
      <tr>
        <th class="fs-6" scope="row">{{ .No }}</th>
        <td class="fs-6">{{ .Name }}</td>
        <td colspan="2"></td>
      </tr>
      {{range .Activity}}
      {{$activity := .}}
      <tr>
        <th class="fs-6" scope="row">{{ .No }}</th>
        <td class="fs-6">{{ .Name }}</td>
        <td colspan="2"></td>
      </tr>
      {{range .SubActivity}}
      {{$subActivity := .}}
      <tr>
        <th class="fs-6" scope="row">{{ .No }}</th>
        <td class="fs-6">{{ .Name }}</td>
        <td class="p-0">
          <div class="dropdown w-100">
            <button class="btn btn-secondary dropdown-toggle w-100 pt-4 pb-4" data-num="{{ .No }}" type="button" id="dropdownMenuButton-{{.ID}}" data-bs-toggle="dropdown" aria-expanded="false">
              Select Predecessors
            </button>
            <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton-{{.ID}}">
              <a class="dropdown-item" href="#">
                <input class="d-none" type="checkbox" value="0" class="predecessor-checkbox" data-no="Start"> Start
              </a>
              {{range $.AllSubActivities}}
                {{if ne .ID $subActivity.ID}}
                  <a class="dropdown-item" href="#">
                    <input class="d-none" type="checkbox" value="{{ .ID }}" class="predecessor-checkbox" data-no="{{ .No }}"> {{ .No }}
                  </a>
                {{end}}
              {{end}}
            </div>
          </div>
        </td>
        <td class="fs-6">{{ .ExpectedTime }}</td>
      </tr>
      {{end}}
      {{end}}
      {{end}}
    </tbody>
  </table>
  <div class="d-flex gap-4 justify-start">
    <button class="complete-schedule btn btn-success mt-2 mb-2" type="button">Complete Schedule</button>
    <button class="view-pert btn btn-info mt-2 mb-2" type="button">View PERT Diagram</button>
  </div>
  <div class="myModal">
    <div class="container modal-container">
      <div id="allSampleContent" class="w-full">
        <div id="sample">
          <div id="myDiagramDiv"
            style="border: 1px solid black; width: 100%; height: 400px; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
            <canvas tabindex="0" width="1054" height="398"
              style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 1054px; height: 398px;"></canvas>
            <div style="position: absolute; overflow: auto; width: 1054px; height: 398px; z-index: 1;">
              <div style="position: absolute; width: 1px; height: 1px;"></div>
            </div>
          </div>
        </div>
      </div>
      <button class="close-btn btn btn-secondary ">Close</button>
    </div>
</div>
  

</div>



<script src="https://unpkg.com/gojs@2.3.16/release/go.js"></script>
<script>
  $(".close-btn").click(function() {
    $(".myModal").css("display","none")
  })
</script>
<script>
  $(document).ready(function () {
    setTimeout(function(){$(".myModal").css("display","none")},1)
    // Ensure event listeners are only added once
    $('.dropdown-item').off('click').on('click', function (e) {
      e.preventDefault();
      var checkbox = $(this).find('input[type="checkbox"]');
      var subActivityId = $(this).closest('.dropdown').find('.dropdown-toggle').attr('id').split('-')[1];
      var selectedPredecessors = [];

      // Toggle checkbox state
      checkbox.prop('checked', !checkbox.prop('checked'));

      // Update the selected predecessors display
      $(this).closest('.dropdown-menu').find('input:checked').each(function () {
        selectedPredecessors.push({
          name: $(this).data('no'),
          value: $(this).val()
        });
      });

      var buttonText = selectedPredecessors.length > 0 ? selectedPredecessors.map(item => item.name).join(', ') : 'Select Predecessors';
      $('#dropdownMenuButton-' + subActivityId).text(buttonText);
    });

    // Add event listener to the "Complete Schedule" button
    $('.complete-schedule').off('click').on('click', function (e) {
      e.preventDefault();

      // Check if any dropdown has no value selected
      var allDropdownsHaveValues = true;
      $('.dropdown-menu').each(function () {
        if ($(this).find('input:checked').length === 0) {
          allDropdownsHaveValues = false;
          return false; // Exit the loop early
        }
      });

      // If any dropdown has no value selected, alert the user
      if (!allDropdownsHaveValues) {
        alert('All dropdowns should have at least one input.');
        return;
      }
      let idArr = []
      let predecessorArr = []
      // Print the selected values (values associated with the names)
      $('.dropdown-menu').each(function () {
        var subActivityId = $(this).closest('.dropdown').find('.dropdown-toggle').attr('id').split('-')[1];
        var selectedValues = [];
        $(this).find('input:checked').each(function () {
          var name = $(this).data('no');
          var value = $(this).val();
          selectedValues.push(value);
        });
        console.log('Selected values for Sub Activity ' + subActivityId + ':', String(selectedValues));
        idArr.push(subActivityId)
        predecessorArr.push(selectedValues)
      });
      console.log(idArr)
      console.log(predecessorArr)
      $.ajax({
        method:'POST',
        url:'/api/set-predecessor',
        data: {
          ids: JSON.stringify(idArr),
          predecessors: JSON.stringify(predecessorArr),
        },
        success: function(response) {
          console.log(response);
          Swal.fire({
          title: "Predecessors have been set!",
          text: response.response,
          icon: "success"
        });
        window.setTimeout(function() {
          window.location.href = window.location.origin + "/user/ongoing-projects/"
        }, 3000);
        },
      })
    });
  });
  
</script>
<script>
$(document).ready(function () {
  $('.view-pert').off('click').on('click', function (e) {
      e.preventDefault();
      // // Check if any dropdown has no value selected
      // var allDropdownsHaveValues = true;
      // $('.dropdown-menu').each(function () {
      //   if ($(this).find('input:checked').length === 0) {
      //     allDropdownsHaveValues = false;
      //     return false; // Exit the loop early
      //   }
      // });
      
      // // If any dropdown has no value selected, alert the user
      // if (!allDropdownsHaveValues) {
      //   alert('All dropdowns should have at least one input.');
      //   return;
      // }
      let idArr = []
      let noArr = []
      let predecessorArr = []
      // Print the selected values (values associated with the names)
      $('.dropdown-menu').each(function () {
        var subActivityId = $(this).closest('.dropdown').find('.dropdown-toggle').attr('id').split('-')[1];
        var subActivityNo = $(this).closest('.dropdown').find('.dropdown-toggle').data('num')
        var selectedValues = [];
        $(this).find('input:checked').each(function () {
          var name = $(this).data('no');
          var value = $(this).val();
          selectedValues.push(value);
        });
        console.log('Selected values for Sub Activity ' + subActivityId + ':', String(selectedValues));
        idArr.push(subActivityId)
        noArr.push(subActivityNo)
        predecessorArr.push(selectedValues)
      });
      
      setTimeout(function() {
            $(".myModal").css("display","flex")
            $(".myModal").css("opacity", 1)
            init(idArr, predecessorArr, noArr); // Call the init function after a delay
        }, 1); // Adjust the del
    });

})   
</script>
<script id="code">
function init(ids,predecessors, nos) {
    // Since 2.2 you can also author concise templates with method chaining instead of GraphObject.make
    // For details, see https://gojs.net/latest/intro/buildingObjects.html
    const $ = go.GraphObject.make;  // for more concise visual tree definitions
    if (this.myDiagram) {
      this.myDiagram.div = null;
    }
    
    // colors used, named for easier identification
    var blue = "#0288D1";
    var pink = "#B71C1C";
    var pinkfill = "#F8BBD0";
    var bluefill = "#B3E5FC";

    this.myDiagram =
      new go.Diagram("myDiagramDiv",
        {
          initialAutoScale: go.Diagram.Uniform,
          layout: $(go.LayeredDigraphLayout, { alignOption: go.LayeredDigraphLayout.AlignAll })
        });

    // The node template shows the activity name in the middle as well as
    // various statistics about the activity, all surrounded by a border.
    // The border's color is determined by the node data's ".critical" property.
    // Some information is not available as properties on the node data,
    // but must be computed -- we use converter functions for that.
    myDiagram.nodeTemplate =
      $(go.Node, "Auto",
        $(go.Shape, "Rectangle",  // the border
          { fill: "white", strokeWidth: 2 },
          new go.Binding("fill", "critical", b => b ? pinkfill : bluefill),
          new go.Binding("stroke", "critical", b => b ? pink : blue)),
        $(go.Panel, "Table",
          { padding: 0.5 },
          $(go.RowColumnDefinition, { column: 1, separatorStroke: "black" }),
          $(go.RowColumnDefinition, { column: 2, separatorStroke: "black" }),
          $(go.RowColumnDefinition, { row: 1, separatorStroke: "black", background: "white", coversSeparators: true }),
          $(go.RowColumnDefinition, { row: 2, separatorStroke: "black" }),
          $(go.TextBlock, // earlyStart
            new go.Binding("text", "earlyStart"),
            { row: 0, column: 0, margin: 5, textAlign: "center" }),
          $(go.TextBlock,
            new go.Binding("text", "length"),
            { row: 0, column: 1, margin: 5, textAlign: "center" }),
          $(go.TextBlock,  // earlyFinish
            new go.Binding("text", "",
              d => (d.earlyStart + d.length).toFixed(2)),
            { row: 0, column: 2, margin: 5, textAlign: "center" }),

          $(go.TextBlock,
            new go.Binding("text", "text"),
            {
              row: 1, column: 0, columnSpan: 3, margin: 5,
              textAlign: "center", font: "bold 14px sans-serif"
            }),

          $(go.TextBlock,  // lateStart
            new go.Binding("text", "",
              d => (d.lateFinish - d.length).toFixed(2)),
            { row: 2, column: 0, margin: 5, textAlign: "center" }),
          $(go.TextBlock,  // slack
            new go.Binding("text", "",
              d => (d.lateFinish - (d.earlyStart + d.length)).toFixed(2)),
            { row: 2, column: 1, margin: 5, textAlign: "center" }),
          $(go.TextBlock, // lateFinish
            new go.Binding("text", "lateFinish"),
            { row: 2, column: 2, margin: 5, textAlign: "center" })
        )  // end Table Panel
      );  // end Node

    // The link data object does not have direct access to both nodes
    // (although it does have references to their keys: .from and .to).
    // This conversion function gets the GraphObject that was data-bound as the second argument.
    // From that we can get the containing Link, and then the Link.fromNode or .toNode,
    // and then its node data, which has the ".critical" property we need.
    //
    // But note that if we were to dynamically change the ".critical" property on a node data,
    // calling myDiagram.model.updateTargetBindings(nodedata) would only update the color
    // of the nodes.  It would be insufficient to change the appearance of any Links.
    function linkColorConverter(linkdata, elt) {
      var link = elt.part;
      if (!link) return blue;
      var f = link.fromNode;
      if (!f || !f.data || !f.data.critical) return blue;
      var t = link.toNode;
      if (!t || !t.data || !t.data.critical) return blue;
      return pink;  // when both Link.fromNode.data.critical and Link.toNode.data.critical
    }

    // The color of a link (including its arrowhead) is red only when both
    // connected nodes have data that is ".critical"; otherwise it is blue.
    // This is computed by the binding converter function.
    myDiagram.linkTemplate =
      $(go.Link,
        { toShortLength: 6, toEndSegmentLength: 20 },
        $(go.Shape,
          { strokeWidth: 4 },
          new go.Binding("stroke", "", linkColorConverter)),
        $(go.Shape,  // arrowhead
          { toArrow: "Triangle", stroke: null, scale: 1.5 },
          new go.Binding("fill", "", linkColorConverter))
      );

    // here's the data defining the graph
    var nodeDataArray = [
      { key: 0, text: "Start", length: 0, earlyStart: 0, lateFinish: 0, critical: true },
    ];

    for (let i = 0; i < ids.length; i++) {
      nodeDataArray.push({ key: ids[i], text: nos[i], length: 0, earlyStart: 0, lateFinish: 0, critical: true })
    }

    var linkDataArray = [];

    for (let i = 0; i < ids.length; i++) {
      let id = ids[i];      
      for (let k = 0; k < predecessors[i].length; k++) {
        let predecessor = predecessors[i]
        linkDataArray.push({ from: predecessor[k], to: id })
      }
    }


    myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
        // create an unbound Part that acts as a "legend" for the diagram
        myDiagram.add(
          $(go.Node, "Auto",
            $(go.Shape, "Rectangle",  // the border
              { fill: "#EEEEEE" }),
            $(go.Panel, "Table",
              $(go.RowColumnDefinition, { column: 1, separatorStroke: "black" }),
              $(go.RowColumnDefinition, { column: 2, separatorStroke: "black" }),
              $(go.RowColumnDefinition, { row: 1, separatorStroke: "black", background: "#EEEEEE", coversSeparators: true }),
              $(go.RowColumnDefinition, { row: 2, separatorStroke: "black" }),
              $(go.TextBlock, "Early Start",
                { row: 0, column: 0, margin: 5, textAlign: "center" }),
              $(go.TextBlock, "Length",
                { row: 0, column: 1, margin: 5, textAlign: "center" }),
              $(go.TextBlock, "Early Finish",
                { row: 0, column: 2, margin: 5, textAlign: "center" }),

              $(go.TextBlock, "Activity Name",
                {
                  row: 1, column: 0, columnSpan: 3, margin: 5,
                  textAlign: "center", font: "bold 14px sans-serif"
                }),

              $(go.TextBlock, "Late Start",
                { row: 2, column: 0, margin: 5, textAlign: "center" }),
              $(go.TextBlock, "Slack",
                { row: 2, column: 1, margin: 5, textAlign: "center" }),
              $(go.TextBlock, "Late Finish",
                { row: 2, column: 2, margin: 5, textAlign: "center" })
            )  // end Table Panel
          ));
      }
      
  // window.addEventListener('DOMContentLoaded', init);
</script>
{{ end }}