{{ define "title" }}
<title>{{ .Title }}</title>
{{ end }}
{{ define "content" }}
<div class="container">
  <h1>Schedule Completion</h1>
  <h2>Project Title: <span class="project-title">{{ .ProjectName }}</span></h2>
</div>
<div class="container">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark text-center ">
      <tr>
        <th class="text-light" scope="col">Item No.</th>
        <th class="text-light" scope="col">Activity</th>
        <th class="text-light" scope="col">Immediate Predecessors</th>
        <th class="text-light" scope="col">Expected Time</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {{range .Project.Phase}}
      <tr>
        <th scope="row">{{ .No }}</th>
        <td>{{ .Name }}</td>
        <td colspan="2"></td>
      </tr>
      {{range .Activity}}
      {{$activity := .}}
      <tr>
        <th scope="row">{{ .No }}</th>
        <td>{{ .Name }}</td>
        <td colspan="2"></td>
      </tr>
      {{range .SubActivity}}
      {{$subActivity := .}}
      <tr>
        <th scope="row">{{ .No }}</th>
        <td>{{ .Name }}</td>
        <td>
          <select role="button" name="predecessors" id="predecessors">
            {{range $.AllSubActivities}}
              {{if ne .ID $subActivity.ID}}
                <option value="{{ .ID }}">{{ .No }}</option>
              {{end}}
            {{end}}
          </select>
        </td>
        <td>{{ .ExpectedTime }}</td>
      </tr>
      {{end}}
      {{end}}
      {{end}}

    </tbody>
  </table>
</div>

{{ end }}